.page.theme_dark {
  --page-background-color: var(--color-black-1, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --page-title-color: var(--pink-color-7, #db00ff);
  --general-color: var(--pink-color-4, #ff0070);
  --title-decor: var(--pink-color-4, #ff0070);
  --title-text: var(--pink-color-6, #f1b2ce);
  --shadow-color: var(--pink-color-4, #ff0070);
  --border-color: var(--pink-color-4, #ff0070);

  --hover-color: var(--pink-color-5, #ff007040);

  --rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: var(--color-black-1, #000028);
    --page-background-image: url("../images/cover-image-dark.png");

    --page-title-color: var(--pink-color-7, #db00ff);
    --general-color: var(--pink-color-4, #ff0070);
    --title-decor: var(--pink-color-4, #ff0070);
    --title-text: var(--pink-color-6, #f1b2ce);
    --shadow-color: var(--pink-color-4, #ff0070);
    --border-color: var(--pink-color-4, #ff0070);

    --hover-color: var(--pink-color-5, #ff007040);

    --rec-visibility: visible;
  }
}
