/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --page-background-color: var(--pink-color-1, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");

  --page-title-color: var(--color-pink-3, #ffc2e6);
  --accent-color: var(--color-black-2, #353430);
  --title-decor: var(--pink-color-2, #ff8dcb);
  --title-text: var(--color-black-2, #353430);
  --shadow-color: var(--pink-color-2, #ff8dcb);
  --secondary-color: var(--color-black-2, #353430);

  --hover-color: var(--color-black-3, #35343040);

  --rec-visibility: hidden;
}
