/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--page-font-family, "IBM Plex Mono", sans-serif);
  background-color: var(--page-background-color, --color-black-1, #000028);
  background-image: var(
    --page-background-image,
    url("../images/cover-image-dark.png")
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cover {
  display: grid;
  min-block-size: 100vh;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.text_shadow {
  text-shadow: 4px 4px 0 var(--pink-color-4, #ff0070);
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);
}

.link {
  text-decoration: none;

}

.link:hover {
  text-decoration: underline;
  
}

/*начало decorated-zone*/

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--border-color, #ff0070);
  border-block-start: 1px solid var(--border-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--border-color, #ff0070);
  border-block-end: 1px solid var(--border-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}
/*конец decorated-zone*/

/*начало header*/

.header {
  align-items: start;
  min-height: 768px;
}

.rec_element {
  position: absolute;
  color: var(--general-color, #ff0070);
  text-align: center;
  font-family: var(--page-font-family, "IBM Plex Mono", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  top: 20px;
  right: 30px;
  z-index: -1;
  visibility: var(--rec-visibility, visible);
}

.rec_element::before {
  content: "REC";
  color: var(--general-color, #ff0070);
  line-height: 24px;
  margin-right: 10px;
}

.rec_element::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--general-color, #ff0070);
  background: var(--general-color, #ff0070);
  inline-size: 9px;
  block-size: 10px;
}

.page_title {
  color: var(--page-title-color, #db00ff);
  font-family: var(--page-font-family, "IBM Plex Mono", sans-serif);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin: 160px 0px 20px -20px;
}

.header_title {
  background-color: var(--title-decor, #ff0070);
  color: #000028;
  font-family: var(--page-font-family, "IBM Plex Mono", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  max-width: 491px;
  min-height: 71px;
  justify-self: end;
  margin-top: -20px;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 12px;
  color: var(--general-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

/*конец header*/

/*начало main*/

.main {
  display: grid;
  gap: 80px;
  padding: 60px 0px;
}
.section {
  display: grid;
  padding: 0px 20px;
  gap: 10px;
  grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
}

.title {
  color: var(--general-color, #ff0070);
  font-family: var(--page-font-family, "IBM Plex Mono", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.title_main {
  max-width: 315px;
}

.article {
  display: grid;
}

.articles-list {
  display: grid;
  gap: 20px;
  max-width: 649px;
  margin-left: 20px;
}

.title-decor {
  color: #000028;
  background-color: var(--title-decor,#FF0070);
  font-family: var(--page-font-family, "IBM Plex Mono", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.title-text {
  color: var(--title-text, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex Mono", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-top: 10px;
}

.section-what {
  display: inline-block;
  width: 1024px;
  max-height: 498px;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
}

.article_what {
  max-width: 315px;
}

.articles-list-what {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.title-images {
  max-width: 984px;
}

.section_images {
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main-images-list {
  display: grid;
  gap: 10px;
}

.main-images-item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.main-images-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.main-images-item:first-child,
.main-images-item:last-child {
  grid-column-start: span 2;
}

.main-images-item:nth-child(2),
.main-images-item:nth-child(3) {
  grid-row-start: span 2;
}

/*конец main*/

/*начало footer*/

.footer {
  place-items: center;
  min-height: 768px;
}

.footer_title {
  color: var(--page-title-color, #db00ff);
  font-family: var(--page-font-family, "IBM Plex Mono", sans-serif);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

/*конец footer*/



@media (width <= 768px) {
 .header {
  min-width: 768px;
  min-height: 1024px;
 }

 .section-what {
  max-width: 768px;
  max-height: none;
  flex-direction: column;
 }

 .header__theme-menu-list {
  margin-top: 170px;
  flex-direction: column;
 }

 .articles-list-what {
  flex-direction: column;
 }

 .article_what{
  max-width: none;
 }

 .header__theme-menu {
  justify-self: end;
}

.header_title {
  inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
}

.page_title {
  margin-top: 0px;
}

.articles-list {
  margin-left: 10px;
}
}