:root {
  --pink-color-1: #fff1f7;
  --pink-color-2: #ff8dcb;
  --pink-color-3: #ffc2e6;
  --pink-color-4: #ff0070;
  --pink-color-5: #ff007040;
  --pink-color-6: #f1b2ce;
  --pink-color-7: #db00ff;

  --color-black-1: #000028;
  --color-black-2: #353430;
  --color-black-3: #35343040;

  --border-color: var(--pink-color-4, #ff0070);
  --hover-color: var(--pink-color-5, #ff007040);
  --shadow-color: var(--pink-color-4, #ff0070);
  --general-color: var(--pink-color-4, #ff0070);
  --link-focus: var(--pink-color-6, #f1b2ce;);

  --title-decor: var(--pink-color-4, #ff0070);
  --title-text: var(--pink-color-6, #f1b2ce);

  --page-title-color: var(--pink-color-7, #db00ff);
  --page-font-family: "IBM Plex Mono", sans-serif;
  --page-background-color: var(--color-black-1, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-visibility: visible;
}

/*тут я не совсем понял что вы имеете ввиду под "осмысленные и информативные имена", 
я отдельно выделил розовый и черные цвета, и ниже я добавил переменные*/